/*
COLORS:
Orange: #FFB52B
Light Orange: #FFBE45
Dark Orange: #D7E6F
Blue: #004FB2
Light Blue: #2B88FF
*/


html {
    background-color: aqua;
}
body {
    background-color: aqua;
    color:#004FB2;
}
.set {
    /* max-width: 960px;*/
}
header {
    width:100%;
    background-color:aqua;
    border-bottom: 5;
}

header > h1 {
    margin: 0;
    text-align: right;
    font-family: 'laro', sans-serif;
    position: realative;
        transform: trnaslateY(50%);
}
header > h2 {
    margin: 0;
    text-align: right;
    position: realative;
        transform: trnaslateY(5);
}
.row > h4 {
    text-align: center;
}
.row {
    margin-right: 15px;
    margin-left: 15px;
}
.row > img {
    text-align: center;
}
#main-content-wrapper  .image-content {
    text-align: center;
    margin:0 auto;
    margin-top: 50px;
}
.image-content {
    margin: auto;
    display: flex;
}
.image-content > img {
    max-width: 400px;
    border-radius:50px;
    border: 4px #2b88ff solid;
    margin: auto;
}

#main-content-wrapper article h2 {
   text-align: center;
}
#main-content-wrapper article p {
    max-width: 300px;
    margin:0 auto;
}
#main-content-wrapper #skills {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}
#main-content-wrapper #skills span {
    font-weight: 400;
}
#aside-content-wrapper {
    background-color:#fff;
   margin-top: 50px;
    font-family: 'Lato', sans-serif;
}
div {
    display: block;
}
aside-right {
    margin: 0 50px 0 8px;
}
#aside-right h3 {
    text-align: center;
}
#Latest-work {
    list-style-type: none;
}
#Latest-work > li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px black solid;
}

#favorite-things {
    border-top: 5px #66d7f1 solid;
    border-bottom: 5px #69cdfd solid;
   
}
#favorite-things > ul {
      list-style-type: none;
      display: block;
      justify-content: space-around;
      margin:0;
      padding: 50px;
}

.max-width {
    margin:0 auto;
    max-width: 960px;
}
.containter-fluid {
    border-bottom: 5px;
    border-bottom-color: aqua;
}
#image {
    text-align: right;
    margin: auto;
    display: flex;
    width: 800px;
    
}
p {
    font-size: 48px;
}

.row > image > .col-sm-10 {
    text-align: right;
}
#idubbbz {
    width: 70px;
    margin-left: 100px;
    border-radius:50px;
    border: 2px black solid;
    
}